<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Account</title>
</head>
<body>
    <h2>Dein Profil</h2>
    <p>User: <%= user.username %></p>
    <p>Email: <%= user.email %></p>
    <p>Api-Key: <%= user.apiKey %></p>
    <p>Account Type: <%= user.accountType %></p>
    <p>Account created: <%= user.created %></p>
    <br>
    <p><a href="/logout">Logout</a></p>
    
</body>
</html>